[Unit]
Description=BMW OBC Kiosk
After=network-online.target bluetooth.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/david/bmw/2002obc
Environment=SDL_VIDEODRIVER=kmsdrm
ExecStart=/usr/bin/python3 /home/david/bmw/2002obc/app.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
