[Unit]
Description=Early Boot Splash
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/fbi -T 1 -d /dev/fb0 -noverbose -a /home/david/bmw/2002obc/splash.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
